﻿a {
  color: #898f8f;
  text-decoration: none;
}


.navbar {
  position: relative;
  margin-bottom: 20px;
  /*border: 1px solid transparent;*/
}

.navbar-brand {
  float: left;
  height: 120px;
  padding: 15px 15px;
  font-size: 18px;
  line-height: 20px;
}

.navbar-inverse {
  background-color: #fff;
  border-color: #fff ;
}

.nav-pills > li.active > a,
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:focus {
  color: #fff;
  background-color: #3754ab;
}

.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > li > a:focus {
  color: #081c57;
  background-color: transparent;
}

.navbar-inverse .navbar-toggle {
  border-color: #081c57 ;
}
.navbar-inverse .navbar-toggle:hover,
.navbar-inverse .navbar-toggle:focus {
  background-color: #081c57 ;
}
.navbar-inverse .navbar-toggle .icon-bar {
  background-color: #898f8f ;
}
.navbar-inverse .navbar-collapse,
.navbar-inverse .navbar-form {
  border-color: #c1c7c7 ;
}