﻿body {
    margin-top: 20px;
    padding-bottom: 0px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    margin-top: 30px;
    padding-left: 0px;
    padding-right: 0px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}

/* Home Page */
.info_box {
    float:left;
    width:300px; 
    height:100px;
    margin-top:30px;
    margin-right:10px;
    margin-bottom:30px;
    margin-left:10px;
}   

.info_box header {
    display: block;
    float: right;
    width: 300px;
    position: relative;
    margin-bottom: 15px;
}

.info_box h2 {
    font-size: 24px;
    font-weight: normal;
    color: #081c57;
    margin-top: 5px;
    margin-bottom: 15px;
}

.info_box p {
    color: #152041;
    font-size: 14px;
    text-align: left;
    margin-bottom: 20px;
    margin-top: 5px;
}
